.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}

header.rolagem{
    background-color: #7b4230;
    padding: 20px 4%;
}

header.rolagem a{
    color: #dbbaac;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: #874421;
    text-decoration: none;
    font-size: 25px;
}

header ul li a:hover{
    color: #411e0c;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.banner{
    height: 100vh;
    background-image: url();
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1{
    font-size: 4em;
}

.banner h1 span{
    color: #874421;
}

body{
    height: 100vh;
    background-color: #dbbaac;
}

.interface {
    max-width: 1000px;

}

.interface h1{
    font-size: 2.5em;
    color: #553d2a;
}

section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

section.interesses {
    max-width: 100%;
}

section.interesses .flex {
    gap: 60px;
}

.interesses .interesses-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #c7b69f;
    cursor: pointer;
}

.interesses .interesses-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

section.interesses {
    padding: 40px 4%;
}

section.interesses .flex {
    gap: 60px;
}

.interesses .interesses-box {
    color: #553d2a;
    padding: 40px;
    border-radius: 20px;
    transition: .2s;
}

.interesses-box{
    padding-right: 2vw;
    max-width: 20vw;
}

.interesses .interesses-box i {
    font-size: 70px;
    color: #553d2a;
}

.interesses .interesses-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

.flex_interesses{
    display: flex;
    justify-content: space-between;
    width: 80vw;

}

.titulo {
    color: #fff;
    font-size: 38px;
    text-align: left;
    margin-left: 2vw;
    
}

.titulos{
    font-family: "Red Hat Display", sans-serif;
}

.interesses-box p{
    font-family: "Red Hat Display", sans-serif;
    font-size: 18px;
}
.interesses-box h3{
    font-family: "Bungee", sans-serif;
}