.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}

header.rolagem{
    background-color: #7b4230;
    padding: 20px 4%;
}

header.rolagem a, header.rolagem i{
    color: #dbbaac;
    font-size: 20px;
    transition: .5s;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: #874421;
    text-decoration: none;
    font-size: 25px;
}

header i{
    font-size: 25px;
    color: #874421;
}


header ul li a:hover, header i:hover{
    color: #411e0c;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

.banner{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1{
    font-size: 4em;
}

.banner h1 span{
    color: #874421;
}

body{
    height: 100vh;
    background-color: #f2e8e1;
}

.interface {
    max-width: 1000px;

}

.interface h1{
    font-size: 2.5em;
    color: #553d2a;
}

section.portfolio {
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
    margin-top: 9.8vw;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

section.interesses {
    max-width: 100%;
}

section.interesses .flex {
    gap: 60px;
}

.interesses .interesses-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #c7b69f;
    cursor: pointer;
}

.interesses .interesses-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

section.interesses {
    padding: 40px 4%;
}

section.interesses .flex {
    gap: 60px;
}

.interesses .interesses-box {
    color: #553d2a;
    padding: 40px;
    border-radius: 20px;
    transition: .2s;
}

.interesses-box{
    padding-right: 2vw;
    max-width: 20vw;
}

.interesses .interesses-box i {
    font-size: 70px;
    color: #553d2a;
}

.interesses .interesses-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

.flex_interesses{
    display: flex;
    justify-content: space-between;
    width: 80vw;

}

.titulo {
    text-align: left;
    margin-left: 2vw;
    font-family: "DM Serif Text", serif;
}

.titulos{
    font-family: "Red Hat Display", sans-serif;
}

.interesses-box p{
    font-family: "Red Hat Display", sans-serif;
    font-size: 18px;
}
.interesses-box h3{
    font-family: "Bungee", sans-serif;
}

.titulo_portifolio {
    text-align: left;
    margin-left: 2vw;
    font-family: "DM Serif Text", serif;
    font-size: 2em;
    color: #553d2a
}

.site_otomo{
    text-decoration: none;
    border-radius: 20px;
    color: #411e0c;
}

.texto_portifolio p{
    margin-right: 15px;
    text-align: right;
    justify-content: center;
    justify-items: right;
    margin-right: 100vh;
    margin: 0;
    padding: 0;
    background-color: aqua;
    font-family: "Red Hat Display", sans-serif;
    font-size: 15px;
}

.titulo_portifolio {
    color: yellowgreen;
    font-size: 2.5rem;
    font-family: 'Garet', sans-serif;
    margin-right: 15px;
    justify-content: center;
    margin-right: 100vh;
    margin: 0;
    padding: 0;
}

 .texto_portifolio a{
    text-decoration: none;
}

.button_right {
    display: flex;
    background-color: yellowgreen;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    margin-top: 10px;
    align-items: center;
}

.button_right a{
    margin-right: 15px;
    text-align: right;
    justify-content: center;
    justify-items: right;
    margin-right: 100vh;
    margin: 0;
    padding: 0;
    background-color: red;
    font-family: "Red Hat Display", sans-serif;
    font-size: 45px;
}